@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@500&display=swap');

:root {
    --main-color: #4F27AA;
    --subColor: #010B38;
}
.mainColor {
    color: var(--main-color) !important;
}
.subColor {
    color: var(--subColor) !important;
}
body {
    /* background: linear-gradient(180deg, rgba(123, 97, 255, 0.15) 0%, rgba(217, 217, 217, 0) 100%) !important; */
    background: #FFF;
}

body,h1,h2,h3,h4,h5,h6,div,span,p,a {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-style: normal;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    line-height: 40px;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    font-weight: 700;
    font-size: 18px;
    color: rgba(1, 11, 56, 0.6);
}
.navbar-light .navbar-nav .nav-link.active {
    color: #010B38;
    border: 0;
    /* border-bottom: 2px solid var(--main-color) !important; */
    position: relative;
}
.navbar-light .navbar-nav .nav-link.active::before {
    content: '';
    width: 80%;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -18px;
}
.navbar-light .navbar-brand {
    font-weight: 700;
    font-size: 36px;
    color: var(--main-color);
}

.navbar {
    background: linear-gradient(180deg, rgba(151, 71, 255, 0.14) 0%, rgba(255, 255, 255, 0) 100%);
}
.nav-bottom-border {
    height: 1px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), var(--main-color);
}


.btn-custom-color,
.btn-custom-color:hover {
    background: var(--main-color);
    border-radius: 8px !important;
    color: #FFF !important;
    padding: 8px 25px !important;
    font-size: 14px;
}

.btn-custom-none-color,
.btn-custom-none-color:hover {
    border: 1px solid #C8C9CC;
    border-radius: 8px !important;
    color: #010B38 !important;
    padding: 8px 25px !important;
    font-size: 14px;
    background: #FFFFFF;
}
.btn-login {
    margin-right: 20px;
}
.btn-custom-danger,
.btn-custom-danger:hover {
    border: 1px solid #EB3E3E;
    border-radius: 8px !important;
    color: #FFF !important;
    padding: 8px 16px !important;
    font-size: 13px;
    background: #EB3E3E; 
}


footer {
    background: linear-gradient(180deg, rgba(151, 71, 255, 0.14) 0%, rgba(255, 255, 255, 0) 100%);
    padding-top: 50px;
    /* margin-top: 20px; */
}

footer .fo-title {
    color: #010B38;
    font-size: 18px;
}
footer ul li a {
    color: rgba(1, 11, 56, 0.6);
    font-size: 14px;
}
footer .social a {
    color: var(--main-color);
    font-size: 18px;
}

.footer2 {
    background-color: var(--main-color);
    color: #FFF;
}
.footer2 .social a,
.footer2 ul li a,
.footer2 .fo-title,
.footer2 .site-name {
    color: #FFF !important;
}

.home .box {
    height: 555px;
    background-size: cover;
    border-radius: 8px;
    overflow: hidden;
}
.home .box .overlay {
    height: 555px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(119, 88, 189, 0.608958) 60.42%, rgba(79, 39, 170, 0.79) 100%);
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 20px 20px 40px;
}
.home .box .overlay .title {
    font-size: 36px;
}
.home .box .overlay p {
    font-size: 14px;
}

.lists {
    background: #FFF;
    padding: 10px 0;
}
.lists img {
    width:100%;
    height:200px
}
.lists .left {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .info,
.execution-of-legal .info {
    background-color: #2f1766;
    color: #FFF;
    padding: 70px 0;
}
.home .card {
    border: 1px solid #E1E2E6 !important;
    box-shadow: 0px 4px 64px -20px rgba(2, 12, 60, 0.07) !important;
    border-radius: 8px !important;
    margin-bottom: 20px;
}
.home .info2 .data {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .info2 img{
    /* width: 100%; */
    height: 250px;
}

.about .box1,
.about .box2 {
    height: 300px;
    background-size: cover;
    overflow: hidden;
}
.about .box1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .box2 .overlay{
    height: 300px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(119, 88, 189, 0.608958) 60.42%, rgba(79, 39, 170, 0.79) 100%);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .row-2 {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #4F27AA;
}
.about .box2 .overlay h1 {
    font-size: 128px;
}

.about .row-2 img {
    width: 100%;
    height: 350px;
}

.about .row-2 .data {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.about .row-2 .tag {
    border: 1px solid #646466;
    border-radius: 8px;
    padding: 8px;
    display: inline-block;
    position: absolute;
    top: 20px;
}
.about .row-2 .owner {
    position: absolute;
    bottom: 20px;
    font-size: 12px;
}
.about form label {
    font-size: 12px;
}

.investment-tours .data,
.profile .data {
    background-size: cover;
    border-radius: 8px;
    overflow: hidden;
}

.investment-tours .overlay,
.profile .overlay {
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(119, 88, 189, 0.608958) 60.42%, rgba(79, 39, 170, 0.79) 100%);
}

.investment-tours .table tr,
.investment-tours .table th,
.investment-tours .table td {
    border: unset;
}

.investment-tours .table th {
    font-size: 24px;
}

.investment-tours .table td {
    font-size: 14px;
    padding: 5px;
    margin-bottom: 8px;
}
.investment-tours .table-striped>tbody>tr:nth-of-type(odd)>* {
    background: #ede9f6;
}
.investment-tours thead th {
    margin-bottom: 15px;
}

.execution-of-legal .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.execution-of-legal .content p {
    font-size: 12px;
    color: #000;
    line-height: 24px;
}
.execution-of-legal .content .title {
    margin-bottom: 5px;
    font-size: 16px;
}

.profile {
    background-color: #FFF;
    padding: 10px;
}

.profile .user-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #FFF;
    margin-top: -91px;
}
.profile .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    color: var(--subColor);
    border: 1px solid #C8C9CC;
    margin-bottom: 10px;
    text-align: right;
    min-width: 200px;
}
.profile input {
    background-color: #EEEEF2;
    box-shadow: unset;
    outline: unset;
    border-color: #C8C9CC;
}
.profile .nav-pills {
    border-left: 1px solid #dcd4ee;
    padding-left: 25px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link  {
    background-color: var(--main-color);
}
.page .nav-links{
    display: inline-block;
    border-bottom: 3px solid  #C8C9CC;
    height: 47px;
}
.page .nav-links a {
    color: var(--subColor);
    padding: 10px 20px;
    display: inline-block;
}
.page .nav-links a i{
    color: #D5D5D9;
}
.page .nav-links .active {
    background-color: #ede9f6;
    border-bottom: 3px solid var(--main-color);
}
.page .nav-links .active i {
    color: var(--main-color);
}
.progress {height: 8px;}
.progress-bar {
    background-color: var(--main-color);
}
.card {
    position: relative;
}
.card .tag {
    position: absolute;
    top: 4px;
    right: 4px;
    border:2px solid transparent;
    border-radius: 8px;
    padding: 7px 4px;
    font-size: 12px;
}
.card .status {
    border:2px solid transparent;
    border-radius: 8px;
    padding: 7px 4px;
    font-size: 12px;
}
.card .tag-info {
    background-color: #E5FBFF;
    border-color: #11CAEF;
    color: #1298B2;
}
.card .tag-white {
    background-color: #FAFBFF;
    border-color: #646466;
    color: #010B38;
}
.card .tag-warning {
    background-color: #FFF7E5;
    border-color: #FFBC1F;
    color: #B28416
}
.card .tag-danger {
    background-color: #FFE5E5;
    border-color: #EB3E3E;
    color: #B22F2F
}
.card .tag-success {
    background-color: #E6FFEE;
    border-color: #2FD976;
    color: #2EA254;
}
.card .btns {
    display: flex;
    justify-content: space-between;
    /* align-items: ; */
}
.line {
    background: #FFFFFF;
    border-radius: 8px;
    border: 2px solid #b9a9dd;
}
.dropdown-item {
    font-size: 12px;
}

.custom-form .nav-tabs {
    border: none !important;
    justify-content: center;
}
.custom-form .nav-tabs .num {
    width: 30px;
    height: 30px;
    color: #FFF;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), #4F27AA;
    display: inline-block;
    border-radius: 50%;
    line-height: 30px;
}
.custom-form .nav-tabs .title,
.custom-form .nav-tabs i  {
    color: rgba(1, 11, 56, 0.5);
}

.custom-form .nav-tabs .active .num {
    background: var(--main-color);
}
.custom-form .nav-tabs .active .title {
    color: var(--subColor);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: none !important;
    border: unset;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus-visible {
    isolation: isolate;
    border-color: transparent!important;
}
.custom-form .data {
    width: 350px;
}
.custom-form .btns {
    display: flex;
    justify-content: space-between;
}
.custom-con-img {
    background-size: cover;
    border-radius: 8px;
    overflow: hidden;
}
.custom-con-img .overlay {
    height: 500px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(119, 88, 189, 0.608958) 60.42%, rgba(79, 39, 170, 0.79) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.custom-form .input-uplode {
    height: 196px;
    border: 5px dotted #7252bb;
    position: relative;
    background-color: #ede9f6;
}
.custom-form .input-uplode input,
.custom-form .input-uplode .content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.custom-form .input-uplode .content {
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-form .input-uplode .content .btn {
    color: var(--main-color);
    font-size: 12px;
}
.custom-form .input-group .input-group-text{
    background: none !important;
    border-left: 0 !important;
}
.custom-form .input-group .form-control {
    border-right: 0 !important;
    outline: unset;
    box-shadow: unset;
}
.custom-form .form-control:focus{
    box-shadow: unset;
    border-right: 0 !important;
    border-color: #DDD;
}
.custom-alert {
    position: fixed;
    width: 400px;
    top: 60px;
    left: 40px;
    z-index: 99999;
}
.custom-alert .alert-dismissible .btn-close {
    padding: 12px;
}
.custom-form input,
.custom-form select {
    font-size: 12px;
}

.signup input,
.signup select,
.signup label {
    font-size: 12px;
}

.signup .input-group .input-group-text{
    background: none !important;
    border-right: 0 !important;
}
.signup .input-group .form-control {
    border-left: 0 !important;
    outline: unset;
    box-shadow: unset;
}
.signup .input-group .form-control:focus{
    box-shadow: unset;
    border-left: 0 !important;
    border-color: #DDD;
}
.signup {
    width: 300px;
}
.slider-imgs .big-img{
    max-width: 100%;
    height: 350px;
}
.slider-imgs .thum {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    max-width: 100%;
}
.slider-imgs .active {
    border: 2px solid var(--main-color);
}
.file-line {
    background-color: #FFF;
    border: 1px solid #EDEEF2;
    border-radius: 8px;
    padding: 0 10px;
}
.icon-file {
    background-color: #dcd4ee;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    box-shadow: 1px 1px 8px #ede9f6;
}
.custom-wissam,
.custom-wissam2 {
    border: 2px solid var(--main-color);
    display: inline-block;
    padding: 5px 15px;
    position: relative;
    border-radius: 8px;
    background-color: #ede9f6;
}
.custom-wissam2 {
    border-color: #2FD976;
    background-color: #E5FFEE
}
.custom-wissam > div,
.custom-wissam2 > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-wissam i,
.custom-wissam2 i {
    font-size: 30px;
    color: var(--main-color);
}
.custom-wissam2 i {
    color: #24B755;
}
.custom-wissam .space,
.custom-wissam2 .space {
    height: 40px;
    width: 1px;
    background: #797979;
    margin: 0 10px;
}
.custom-wissam .text,
.custom-wissam2 .text {
    font-size: 14px;
}
.price {
    font-size: 64px;
}
.custom-progress {
    overflow: visible;
    position: relative;
}
.custom-progress .full {
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 15px;
    color: var(--main-color);
}
.custom-progress .progress-bar {
    position: relative;
    overflow: visible;
}
.custom-progress .progress-bar span{
    position: absolute;
    left: -8px;
    top: 10px;
    color: var(--main-color);
    font-size: 15px;

}
.custom-list {
    border-radius: 0;
}
.custom-list li {
    border-color: transparent !important;

}
.custom-list li:nth-child(odd) {
    background-color: #ede9f6;
}
.check-line {
    border: 1px solid var(--main-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 20px;
}
.check-line i {
    font-size: 25px;
}
.checkboxs li {
    color: #010B38;
    margin-bottom: 5px;
    font-size: 14px;
}
.discount {
    border-color: var(--main-color);
    width: 300px;
    padding: 10px;
}
.custom-form .discount:focus{
    border: 1px solid var(--main-color) !important;
}
@media (max-width: 768px) {
    .signup {
        width: 100%;
    }
    .custom-form .data {
        width: 100%;
    }
    .btn-login {
        margin: 10px 0 0 0;
    }
    .navbar-light .navbar-nav .nav-link.active::before {
        bottom: 0;
        width: 100%;
    }
    .why .icon {
        text-align: right !important;
        margin-bottom: 5px;
    }
    .lists .left {
        margin-top: 20px;
        align-items: flex-start;
    }
    .home .banrds {
        text-align: center;
    }
    .table {
        overflow: auto;
    }
    .investment-tours .table thead th {
        font-size: 18px;
    }
    .lists .left {
        height: auto;
    }
    .profile .user-img  {
        width: 100px;
        height: 100px;
        margin-top: -50px;
    }
    .profile .my-name {
        text-align: center;
    }
    .profile form {
        width: 100% !important;
    }
    .profile .nav-link {
        min-width: auto;
        font-size: 12px;
    }
    .profile .nav-pills {
        padding-left: 0;
        border: 0;
    }
    .page .nav-links {
        height: auto;
        border: 0;
    }
    .page .nav-links,
    .page .nav-links a {
        display: block !important;
    }
    .page .single-link {
        text-align: right!important;
    }
    .line .btn-custom-danger {
        margin-top: 0!important;
    }
    
}
/* .navbar-expand-md .navbar-nav .nav-link {
    padding-left: 25px;
} */
.card-img, .card-img-top {
    height: 229px;
}
.card-body {
    padding-top: 5px;
}
.nav-item {
    margin-left: 20px;
}